
  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .container {
    margin-top: 20px;
    margin: auto;
  }
  
  :root {
    background-color: rgb(116, 109, 109);
    --cn: rgb(170, 106, 148);
    --ctexto: rgb(0, 0, 0);
    --cblanco: black;
  }
  * {
    box-sizing: border-box;
  }
  
  .form {

    max-width: 500px;
    max-height: 600px;
    padding: 30px 50px;
    margin: auto;
    margin-top: 20px;
   background-color:rgb(228, 221, 215);
  }
  
  .form-titulo {
    font-family: Century Gothi;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 4px;
  }
  
  .form-input {
    margin-bottom: 35px;
  }
  
  .form-input label {
    display: block;
    margin-top: 15px;
    font-size: 15px;
    color: var(--ctexto);
  }
  
  .form-input input {
    width: 100%;
    border-color: darkgray;
    background: none;
    border-bottom: 1px solid var(--ctexto);
  }
  
  .form-input input:focus + label {
    font-weight: bold;
    color: var(--cn);
  }
 
  .form-boton input {
    background: var(--cn);
    color: var(--cblanco);
    padding: 10px 50px;
    font-size: 25px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: none;
  }
  
  .form-boton input:hover {
    background: rgb(182, 170, 170);
    transition: 0.3s;
  
  }
  
  .mensajeError {
    color: rgb(184, 31, 31);
    margin-top: 1px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .mensajeCorrecto {
    text-align: center;
    font-weight: bold;
  }